<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"/>
    <link rel="stylesheet" href="~/css/prism.css">
    <script src="~/js/prism.js"></script>
</head>
<body>
    <div class="container">        
        <section class="hero">
            <div class="hero-body has-text-centered">
                <h1 class="title">CloudObjects API</h1>
                <h2 class="is-size-5 mb-3">A REST API storage solution for runtime objects with a C# client. Like Azure Table Storage, but simpler.</h2>
                <p>
                    <a href="/swagger" class="button mr-3">Swagger Doc</a>
                    <a href="https://github.com/adamfoneil/CloudObjects" class="button mr-3">GitHub repo</a>
                    <a href="https://www.nuget.org/packages/AO.CloudObjects.Client" class="button">NuGet Package</a>
                </p> 
                <p class="is-size-6 mt-3">This is for fun and tutorial purposes. Probably not a real service.</p>
                <p class="is-size-6">Made with: <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps">.NET 5</a> on the backend and powered by <a href="https://github.com/reactiveui/refit">Refit</a> in the client.</p>
            </div>
        </section>

        @RenderBody()
    </div>    
</body>
</html>
