@{ 
    ViewBag.Title = "CloudObjects API";
}

<section class="hero">
    <div class="hero-body">
        <h1 class="title">CloudObjects API</h1>
        <h2 class="subtitle">A cloud storage option for runtime objects. Like Azure Table Storage, but simpler.</h2>
    </div>
</section>