@using CloudObjects.App.Extensions 
@model CloudObjects.App.ViewModels.HomeView

@{ 
    ViewBag.Title = "CloudObjects API";
}

<section class="hero">
    <div class="hero-body has-text-centered">
        <h1 class="title">CloudObjects API</h1>
        <h2 class="subtitle">A cloud storage option for runtime objects. Like Azure Table Storage, but simpler.</h2>
        <p>
            <a href="/swagger" class="button mr-3">Swagger Doc</a>
            <a href="https://github.com/adamfoneil/CloudObjects" class="button">GitHub repo</a>
        </p>        
    </div>
</section>

@if (Model.IsLocal && !Model.HasValidDb)
{
    <div class="is-flex is-align-items-center has-text-centered">
        <div class="mr-2">Local database is missing: </div>
        <form method="post" action="/Home/CreateLocalDb">
            <button class="button is-warning">Create Local Database</button>
        </form>
    </div>    
}

<div class="columns">
    
    <div class="column">
        <div class="tile">
            
        </div>
    </div>

    <div class="column">

    </div>
</div>
